<div class="dish-container">

<div>
  <app-shopping-cart></app-shopping-cart>
</div>

<div>
  <button class="button" (click)="getPizza()">Pizze</button>
  <button class="button" (click)="getPasta()">Makarony</button>
  <button class="button" (click)="getDrinks()">Napoje</button>

  <table>
    <tr class="back">
      <th>Name:</th>
      <th>Description:</th>
      <th>Price:</th>
    </tr>

    <tr *ngFor="let d of dish">
      <td class="back">{{d.name}}</td>
      <td class="back">{{d.description}}</td>
      <td class="back">{{d.price}}</td>
      <td class="clean"><button class="buttonAdd" (click)="addDishToOrder(d)"> +</button> </td>
    </tr>
  </table>
</div>


